@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #7149c6;
  --scanning: #29fcde;
  --swapping: #fc2947;

  --grey: #848884;

  --nav-height: 50px;
}

html {
  font-family: "Agdasima", sans-serif;
}

.floating-settings {
  @apply absolute bg-white z-10 right-0 top-[49px] flex flex-col gap-3 w-8/12 border-black border p-2;
}

.input {
  @apply flex flex-col gap-4;
}

.input > label {
  @apply text-base capitalize font-bold;
}

input[type="range"] {
  appearance: none;
  height: 4px;
  border-radius: 20px;

  @apply bg-purple-300;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  @apply bg-purple-500;
}
